template(name="download_1")

  section.download.bg-gray
    .paragraph
      h1.title Download our info brochure
      p.subheading Learn more about eventSpark app and it's features by downloading PDF version of our brochure.
    button.infodoc
      a(href="")




